<!DOCTYPE html>
<html> 
	<head> 
		<meta charset=UTF8>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.1, maximum-scale=1, user-scalable=yes">
		<title>Тестовое задание</title> 
	</head>
	<body>
		<header class="header">
			<img class="header__logo" src=<%= require('../src/img/home.png')%>>
		</nav>
		</header>
		<div class="slider">
			<div class="slider__list">
			  <div class="slider__track">
				<div class="slider__slide slade" data-slide="0">
					<div class="home">
						<h1 class="home__title">
							<span class="small">Привет,</span><br>
							<span class="accent">это <b class="bold">не</b> коммерческое задание</span>
						</h1>
						<button class="home__next btn">Что дальше?</button>
						<img class="float sperm" src=<%= require('../src/img/pink_sperm_1.png')%>>
						<img class="float virus-1" src=<%= require('../src/img/virus__1.png')%>>
						<img class="float virus-2" src=<%= require('../src/img/virus__2.png')%>>
						<img class="float virus-3" src=<%= require('../src/img/virus__3.png')%>>
						<img class="float virus-4" src=<%= require('../src/img/virus__4.png')%>>
					</div>
				</div>
				<div class="slider__slide slide" data-slide="1">
					<div class="content">
					<h2 class="content__title">Текст<br>сообщения</h2>
					<div class="content__wrap" id="container">
						<div id="scrollbar-container" class="content__scroll">
							<div id="scrollbar" class="scrollbar"></div>
						</div>
						<div class="content__text" id="content">
							<p class="content__paragraph"><b class="bold">Lorem ipsum dolor sit amet,</b> consectetur adipiscing elit, sed do 
							eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Duis ut diam quam nulla. Mauris in aliquam sem fringilla ut morbi 
							tincidunt. Vitae aliquet nec ullamcorper sit amet risus nullam eget 
							felis. Nulla pharetra diam sit amet nisl. Eget nulla facilisi etiam 
							dignissim diam quis enim lobortis. Est sit amet facilisis magna. 
							Neque laoreet suspendisse interdum consectetur libero id. 
							Nec ullamcorper sit amet risus nullam eget felis eget. 
							Mollis aliquam ut porttitor leo a diam sollicitudin tempor id. 
							Euismod quis viverra nibh cras pulvinar mattis nunc. 
							Massa massa ultricies mi quis. Sit amet massa vitae tortor 
							condimentum lacinia. Et malesuada fames ac turpis egestas 
							integer eget. Elementum pulvinar etiam non quam lacus suspendisse 
							faucibus interdum posuere.</p>
							<p class="content__paragraph">Amet justo donec enim diam vulputate ut pharetra sit. 
							Risus ultricies tristique nulla aliquet enim tortor at auctor. 
							Velit sed ullamcorper morbi tincidunt ornare massa. 
							Quis hendrerit dolor magna eget est lorem ipsum. Etiam dignissim 
							diam quis enim. Gravida neque convallis a cras. Ut enim blandit 
							volutpat maecenas volutpat. Mauris sit amet massa vitae tortor 
							condimentum lacinia quis vel.</p>
							<p class="content__paragraph">Amet justo donec enim diam vulputate ut pharetra sit. 
								Risus ultricies tristique nulla aliquet enim tortor at auctor. 
								Velit sed ullamcorper morbi tincidunt ornare massa. 
								Quis hendrerit dolor magna eget est lorem ipsum. Etiam dignissim 
								diam quis enim. Gravida neque convallis a cras. Ut enim blandit 
								volutpat maecenas volutpat. Mauris sit amet massa vitae tortor 
								condimentum lacinia quis vel.</p>
						</div>
					</div>
					<img class="sperm sperm-1" src=<%= require('../src/img/sperm__1.png')%>>
					<img class="sperm sperm-2" src=<%= require('../src/img/sperm__2.png')%>>
					<img class="sperm sperm-3" src=<%= require('../src/img/sperm__3.png')%>>
					<img class="sperm sperm-4" src=<%= require('../src/img/sperm__4.png')%>>
					<img class="sperm sperm-5" src=<%= require('../src/img/sperm__5.png')%>>
				</div>
				</div>
				<div class="slider__slide slide" data-slide="2">
					<div class="about">
						<h2 class="about__title">
							<span class="small">ключевое сообщение</span><br>
							<span class="accent">brend<b class="bold">xy</b></span>
						</h2>
						<ul class="list">
							<li class="list__item">
								<div class="list__text">Ehicula ipsum a arcu cursus vitae. Eu non diam phasellus vestibulum lorem sed 
									risus ultricies</div>
							</li>
							<li class="list__item list__item_button">
								<div class="list__text">A arcu<br>cursus vitae</div>
								<button class="about__detailed btn">Подробнее</button>
							</li>
						</ul>
						<img class="bubble bubble-1" src=<%= require('../src/img/bubble__1.png')%>>
						<img class="bubble bubble-2" src=<%= require('../src/img/bubble__2.png')%>>
						<img class="bubble bubble-3" src=<%= require('../src/img/bubble__3.png')%>>
						<img class="bubble bubble-4" src=<%= require('../src/img/bubble__4.png')%>>
						<img class="bubble bubble-5" src=<%= require('../src/img/bubble__5.png')%>>
						<img class="bubble bubble-6" src=<%= require('../src/img/bubble__6.png')%>>
						<img class="bubble bubble-7" src=<%= require('../src/img/bubble__7.png')%>>
						<img class="bubble bubble-8" src=<%= require('../src/img/bubble__8.png')%>>
						<img class="bottle" src=<%= require('../src/img/bottle.png')%>>
						<div class="popup">
							<button class="popup__close"></button>
							<h2 class="popup__title">
								<span class="small">Преимущества</span><br>
								<span class="accent">brend<b class="bold">xy</b></span>
							</h2>
							<div class="list">
								<div class="slider">
									<div class="slider__list">
										<div class="slider__track">
											<div class="slider__slide">
												<div class="list__item">
													<span class="list__number">01</span>
													<p class="list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
												</div>
												<div class="list__item">
													<span class="list__number">02</span>
													<p class="list__text">Faucibus pulvinar elementum integer enim</p>
												</div>
												<div class="list__item">
													<span class="list__number">03</span>
													<p class="list__text">Faucibus pulvinar elementum integer enim</p>
												</div>
													
											</div>
											<div class="slider__slide">
												<div class="list__item">
													<span class="list__number">04</span>
													<p class="list__text">Mi bibendum neque egestas congue quisque egestas diam</p>
												</div>
												<div class="list__item">
													<span class="list__number">05</span>
													<p class="list__text">Venenatis lectus magna fringilla urna</p>
												</div>
												<div class="list__item">
													<span class="list__number">06</span>
													<p class="list__text">Venenatis lectus magna fringilla urna</p>
												</div>

											</div>
										</div>
										<div class="slider__arrows">
											<button type="button" class="slider__prev disabled"></button>
											<div class="slider__dot" data-dot="0"></div>
											<div class="slider__dot" data-dot="1"></div>
											<button type="button" class="slider__next"></button>
										  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			  </div>
			</div>
		  </div>
		  <footer class="footer">
			  <img class="footer__logo" src=<%= require('../src/img/footer__logo.png')%>>
		  </footer>
	</body>
</html>
